{%extends 'moj.html'%}


{%block title%} 
 programming   
{%endblock%}






{%block picbig%}
<img style="border-radius: 20px; padding:0px; width:295px; height:207px;" class="col-sm-12 col-md-12 col-lg-12 mb-3" src='images/a1.jpg' alt="">
{%endblock%}



{%block mozoo%}
برنامه نویسی
{%endblock%}




{%block picsmall%}
<img style="width: 50px; height: 50px; border-radius: 50%; background-color: rgb(165, 121, 204);" src= 'images/logo.jpg' alt="">
{%endblock%}



{%block date%}
تیر 1402
{%endblock%}



{%block titr%}
#تجربه من از برنامه نویسی
{%endblock%}


{%block paragraf%}
<p dir="RTL"style="font-size:22px; color:rgb(105, 102, 102);">  برنامه نویسی علمی است که فقط افرادی در آن ماندگار می شوند که: <br> اولا صبور باشند. <br> دوما پرتلاش باشند. <br> سوما خستگی  ناپذیر باشند. <br> چهارما با جسارت باشند.. <br> پنجما قوی باشند. </p>

<p dir="RTL" style="font-size:22px; color:rgb(105, 102, 102);">بارها و بارها به دانشجویانم درباره این موضوع گوش زد کرده ام که مبادا با خواندن یک صفحه از یک کتاب برنامه نویسی یا دیدن یک ویدئوی یک ساعته از یک دوره آموزش برنامه نویسی خود را عالم بر تمام علوم بدانید. این غرور کاذب جز این که شما را از ادامه مسیر باز دارد چیز دیگری نیست. راستش را بگویم کسی که این علم را برای مسیر خود انتخاب می کند در ابتدای راه بدلیل هیجان انگیز بودن آن دچار غرور زیادی می شود.عزیزانم، دوستانم، دانشجویان عزیز باید بگویم این یک غرور کاذب است.  </p>
</p>
<p dir="RTL" style="font-size:22px; color:rgb(105, 102, 102);"> یک انسان اگر بخواهد در هر علمی نه تنها علوم کامپیوتر و برنامه نویسی بلکه در هر علمی بخواهد موفقیت کسب کند  و به جواب برسد باید سالهای زیادی تلاش کند. برای رسیدن به جایگاه برتر از آن چیزی که هستیم ابتدا باید این را بپذیریم که کار کردن برای هیچ انسانی عار نیست. این که در جوانی هیچ کاری را در شان خود ندانیم و دست روی دست بگذاریم در انتهای مسیر باید کارهایی انجام دهیم که اصلا در شانمان نیست. این را بدانید افراد موفق  از ابتدا موفق نبوده اند.  </p>          
<p dir="RTL" style="font-size:22px;color:rgb(105, 102, 102);"> دانشجویانی را می بینم که وقتی از آنها درباره دلیل شرکت نکردنشان در کلاسهای دانشگاه سوال میپرسم آنها در جواب می گویند ما درحال پیشرفت هستیم و وقت نداریم در کلاسهای دانشگاه شرکت کنیم. این بسیار خنده دار و غیر منطقی است که کسانی هستند که از مهمترین مسئله زندگی خودشان که بزرگترین نقش را در زندگیشان دارد صرف نظر می کنند که برای اهداف خود بجنگند دراصل آنها نمی دانند که ناخواسته برای بیسواد ماندن خود میجنگند.  </p>
<p dir="RTL" style="font-size:22px; color:rgb(105, 102, 102);"> راه رسیدن به هدف این نیست. راه رسیدن به هدف اینست که هر چیزی جای خودش باشد. کسی که از مهمترین وظیفه خود که شرکت در کلاس درس است اجتناب می کند یعنی خود را در جایگاه بالاتر از آنچه هست می داند حال آن که این حجم از خود پسند بودن بزرگترین مانع برای رسیدن به جایگاه بزرگ است.  </p>
<p dir="RTL" style="font-size:22px; color:rgb(105, 102, 102);"> تجربیات زیادی دارم که در فرصت مناسب با شما دوستان عزیزم به اشتراک خواهم گذاشت. </p>
<p dir="RTL">&nbsp;</p>
{%endblock%}
