/*main.css*/
@font-face{
  font-family: iran;
  src: url(./fonts/iran.ttf);
}

*{
  direction: rtl;
  font-family: iran;
  box-sizing: border-box;
}

body{
  font-size: 16px ;
  margin: 0px ;
}

a{
  text-decoration: none ;
}

/*home.css*/

header{
  font-size: 1em;
}

/* navigation section  */

header nav{
  display: flex;
  justify-content: space-between ;
  padding: 10px 15px;
  font-size: 1em;
}

header nav .nav-right{
  display: flex;
  align-items: center;
}

header nav .nav-right a{
  color: #444;
  padding: 5px 10px;
  margin: 0px 5px;
  font-size: 1.1em;
  
}

header nav .nav-right span{
  margin-left:15px;
  border:1px solid rgb(90, 87, 87);
  border-radius: 15%;
  padding:5px 10px;
  background-color:rgb(187, 184, 184);
  color:white;
}

header nav .nav-left .register-login-btn{
  border: 1px solid #666;
  padding: 5px 8px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

header nav .nav-left .register-login-btn i{
  margin: 7px;
  color: #444;
  font-size: 1.1em;

}

header nav .nav-left .register-login-btn a{
  color: #444;
  margin: 0px 10px;
  font-size: .9em;
}





/* slider section  */

.slider{
  position: relative;
  font-size: 1em;
}

.slider .slides{

}

.slider .slides .item{
  position: relative;
  display: none;
}

.slider .slides .item img{
  width: 100%;
  height:450px;
}

.slider .slides .item span{
  position: absolute;
  color: gold; 
  text-shadow: 4px  4px 5px gold;
  right: 10%;
  top: 40%;
  font-size: 3em;
  margin-right:200px;
  margin-top:190px; 
}

.slider .slides .active{
  display: block;
  animation-name: fadeIn ;
  animation-duration: 2s;
}

.slider .buttons{
  position: absolute;
  bottom: 30px;
  left: 40px;
  z-index: 1;
}

.slider .buttons i{
  color:rgb(148, 145, 145);
  margin-right: 5px;
  cursor: pointer;
}

.slider .buttons i:hover{
  color:  gold;
}



.container-fluid{
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.pb-5 {
  padding-bottom: 3rem ;
}
.product-sec-new{
  padding: 20px 10px;
  font-size: 1em;
}
.pr-3 {
  padding-right: 1rem ;
}
.container {
 /* max-width: 750px;*/
  width: 100%;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.text-center {
  text-align: center ;
}
.mb-5 {
  margin-bottom: 3rem ;
}
h3 {
  font-size: 1.75rem;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 2 ;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.col-md-4, .col-md-6{
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.col-md-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

a {
  color: #007bff;
  background-color: transparent;
  text-decoration: none ;
  }
 * {
    box-sizing: border-box;
  }

.m-2 {
  margin: 0.5rem ;
    
}
.card {
  height:390px;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0px;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 0.25rem;
}

.card-img-top {
  border-top-left-radius: calc(.25rem - 1px);
  border-top-right-radius: calc(.25rem - 1px);
  flex-shrink: 0;
  width: 100%;
}

img {
  border-style: none;
}
.card-body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1.25rem;
}
.text-dark {
  color:rgb(84, 84, 87);
}
.card-title {
  margin-bottom: .75rem;
  color:black;
}
h5 {
  font-size: 1.25rem;
  font-weight: 500;
  margin-top: 0;
  line-height: 2;
}
.text-muted {
  color: #6c757d
}
h6 {
  font-size: 1rem;
  font-weight: 500;
  margin-top: 0;
  line-height: 2;
}
.my-4 {
  margin-top: 1.5rem;
}
.align-items-center {
  align-items: center;
}
.justify-content-center {
  justify-content: center;
}
.d-flex {
  display: flex;
}
.text-muted {
  color: #6c757d
}
.btn-info {
  color: #fff;
  background-color: #17a2b8;
  border-color: #17a2b8;
}
.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  outline: 0;
  margin: 3px;
}  






/* footer  */
footer{
  background-color: #636e72;
  font-size: 1em;
}

footer .right{
  padding: 40px;
}

footer .right .title{
  padding: 10px 0px;
  color: white;
  font-size: 1.2em;
}

footer .right  .des{
  color: rgba(255, 255, 255, .7);
  line-height: 1.9em;
  font-size: .9em;
}

footer .left{
  padding: 40px;
}

footer .left .title{
  padding: 10px 0px;
  font-size: 1.2em;
  color: white;
}

footer .left .socials{
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

footer .left .socials a{
  color: white;
  font-size: 1.4em;
}



footer .bottom{
  background-color: #2d3436;
  text-align: center;
  padding: 15px;
  color: rgba(255, 255, 255, .9);

}


@media screen and (max-width:900px){
.slider .slides .item span{
  font-size: 2.2em;
  margin-right:110px;
  margin-top:210px; 
}
.slider .buttons i{
display:none;
    
 }
}

@media screen and (max-width:600px){
  header nav  {
    flex-direction:column;
  }
  header nav .nav-right  {
  display:block;
  margin-top:10px;
  text-align:center;
  }
  .main-container{
    font-size:1.3em;
  }
   .slider .slides .item span{
  font-size: 1em;
  margin-right:100px;
  margin-top:210px; 
   }
}





























